body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

#patientData {
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#content {
    padding: 20px;
    margin-top: 30px;
}

#patients {
    list-style: none;
    padding: 0;
    width: 100%;
}

.patient-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-item button {
    padding: 6px 10px;
    background-color: #ff4d4d; /* Red for delete button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.patient-item button:hover {
    background-color: #ff6666; /* Lighter red on hover */
}

/* General table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Styling for each stage in the patient process */
#expectedPatients,
#arrivedPatients,
#consultationPatients {
    min-height: 100px;
    vertical-align: top;
}

/* List styles within table cells */
#expectedPatients ul,
#arrivedPatients ul,
#consultationPatients ul {
    list-style-type: none;
    padding: 0;
}

.patient-item {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.patient-item:hover {
    background-color: #e1e1e1;
}

/* Highlight clickable patient names */
.clickable-name {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

